@charset "UTF-8";

@media screen and (min-width:768px) {

.com-news-part.type-catenews .box, .com-arclist-part_ver2.adddate .box {border-left:none;}
.memmber_enter {max-width:600px;margin:0 auto 2em;}

.fanclub {margin-top:0;margin-bottom: 80px;}
.fanclub .headerarea h2 {margin: 3em auto;max-width:280px;}

.fanclub .box-content {max-width:1240px;margin: 0 auto;}
.fanclub_con h3 {font-size:2.2rem;}
.fanclub_con h3 + ul {padding: 15px 0;width: 100%;margin-bottom:0;}
.fanclub_con h3 + ul a {display:block;}
.fanclub_con .fcnews_list_top h3 + ul {margin-bottom:0;padding-right:0;padding-left: 3%;}
.fanclub_con .new_icon {font-size:.8em;padding: 0.4em 1em 0.3em;}

.fcnews_list_top .title-part {padding-top:.35em !important;float: left;}

.fanclub_con .fccon_list {padding-left: 25%;position: relative;}
.fanclub_con .fccon_list h3 {position: absolute;left: 0;width: 25%;text-align: right;padding-right: 20px;}
.fanclub_con .fccon_list h3 + ul {padding: 5px 0 0;width: 100%;margin-bottom: 0;}

.fanclub_con .fcnews_list_top {padding-left: 25%;position: relative;}
.fanclub_con .fcnews_list_top h3 {position: absolute;left: 0;width: 25%;text-align: right;padding-right: 20px;}
.fanclub_con .fcnews_list_top h3 + ul {padding: 5px 0 5px 3%;width: 100%;margin-bottom: 0;}

.morebtn {text-align: right;position: absolute;left: 0;width: 25%;padding-right: 25px;bottom: 0;}

.fccon_list li {width: 33.33%;padding-left:3%;padding-right:0;}
.fccon_list li:last-child {display:none;}
.fccon_list li .video + div {position:relative;}
.fccon_list li .video + div .ttl {font-size:1.1em;line-height: 1.5;}
.fccon_list li .video + div .tag_name {font-size: 1em;margin-top: -0.5em;}
.fccon_list li .video + div.keyamimi-list-head .ttl {font-size: 1.2em;margin-bottom: 0.5em;}

.fanclub_menu {padding:0 20px;}
.fanclub_menu li {width:25%;}
#site_support {max-width:1240px;margin:0 auto;}
.fanclub_support {padding:0 20px;}
.fanclub_support li {width:25%;}
/*
.fanclub_support ul {background:#fff;border-bottom: 1px solid #3E3A39;}
.fanclub_support li:nth-last-child(-n+3) {border-bottom:none;}
.fanclub_support li:last-child {border-right: 1px solid #3E3A39;width:calc(20% + 1px);}
*/

.fav_date_top {margin-bottom:10px;}
.fav_date_top .thumb {width:4.5em;height:4.5em;}
.fav_date_top > p {font-size:1.4rem;padding:.8em 1.5em;border-radius:30px;}

/*ページ共通*/
.site-main {max-width:none !important;margin:0 !important;}

/*ヒストリー*/
.sakura-history-detail-list .c-item {width: calc((100% - 10px) / 5);}

/*さくみみ*/
.keyamimi-hero img {max-width: 250px;margin: 0 auto;display: block;}
.keyamimi-hero .txt , .keyamimi-list .caption , .tag_keyamimi a {font-size:1.6rem !important;}
.keyamimi-list-item {max-width:960px !important;margin:0 auto !important;padding:50px !important;}
.keyamimi-list .keyamimi-list-head {margin-bottom:20px !important;}
.keyamimi-list .video {max-width:600px !important;}
.keyamimi-list .video > div > img {width:100%;}
.bc-player-default_default.vjs-mouse .vjs-control:before {height:24px !important;}
.bc-player-default_default.vjs-mouse .vjs-volume-menu-button:before {height:16px !important;top:15px;font-size:0;}
.tag_keyamimi a {margin-right:1em;}
.keyamimi-list-item .icon_twitter {bottom:40px !important;right:40px !important;}
.keyamimi-list + .btn-wrap {max-width:400px;margin:3em auto;}

.keyamimi_list {max-width:1200px;margin:50px auto 0;}
.keyamimi_list .list .box-txt {padding-left:20px !important;}
.keyamimi_list .list .box-txt .date {font-size:1.4rem !important;}
.keyamimi_list .list .box-txt .ttl {font-size:2rem !important;margin:10px 0;}
.keyamimi_list .list .box-txt .ttl span {font-size:1em !important;}
.keyamimi_list .list .box-txt .text {font-size: 1.4rem !important;line-height: 1.8 !important;}

#fcweb_radio_detail .keyamimi-hero {padding-bottom:40px;}
#fcweb_radio_detail .keyamimi-list-item:nth-child(odd) {background-color: #F7F7F7 !important;}
#fcweb_radio_detail .keyamimi-list .ttl {font-size:0 !important;}
#fcweb_radio_detail .keyamimi-list .date {font-size:1.5rem;}

/*WALLPAPER*/
.wallpaper_wrap { max-width: 1200px; margin: 0 auto;}
.wallpaper_list .ttl {font-size:1.6rem !important;}
.wallpaper_list .member_list .list {width: 14.285% !important;}
.wallpaper_list .member_list .list dd.name {font-size: 1.4rem;margin-top: .5em;}

.wallpaper-catelist {max-width:640px;margin: 100px auto;}
.wallpaper-catelist .list {background:#fff !important;padding:1em 0;border-bottom:1px dotted #ddd;}
.wallpaper-catelist .list dt {width:30% !important;}
.wallpaper-catelist .list .name {width:70% !important;font-size:1.5rem !important;}

.wallpaper_detail .txt p {font-size:1.3rem !important;text-align:center;}
.detail_ttl {font-size:1.8rem !important;}
.wallpaper_detail + .wallpaper_list {background:#f7f7f7 !important;padding-top: 10px !important;margin-bottom: 100px !important;}
.wallpaper_list .member_list .list .catename {font-size: 1.3rem !important;line-height: 1.6;margin: 10px 0 0;}

/*MANAGER'S DIARY*/
.manager-list {max-width:640px;margin: 50px auto;}
.manager-list .list {background:#fff !important;padding:1em 0;border-bottom:1px dotted #ddd;}
.manager-list .list .manager-account {padding:20px 0 !important;}
.manager-list .list .manager-account .date {font-size:1.4rem !important;}
.manager-list .list .manager-account .manager-icon img {width:40px !important;height:40px !important;}
.manager-list .list .manager-account .manager-icon .manager-name {font-size:1.5rem !important;}
.manager-list .list .manager-up .manager-up-in {padding:20px 0 !important;}
.manager-list .list .manager-up .manager-up-in .list-iine .iine-num {font-size:1.3rem !important;margin-left:5px;}
.manager-list .list .manager-up .manager-up-in .list-text .text {font-size:1.5rem !important;line-height:1.6;}
.manager-list + .com-pager {background:#fff;}
.manager-attention {margin:0 0 50px !important;font-size:1.1rem !important;text-align:center;}

.archive-list {max-width:1200px;margin:0 auto;padding:50px 0 !important;}
.archive-list > ul {max-width:640px;margin:0 auto;}

/*GOODS*/
#goods .custom-search-result .itemlist {padding:0;}
#goods .custom-search-result .itemlist ul.items {display:flex;flex-wrap:wrap;width:102%;margin-left:-1%;}
#goods .custom-search-result .itemlist ul.items li.item {width:25%;padding:1%;float:none;margin:0;}
#goods .custom-search-result .itemlist ul.items li.item .img img {max-width:90%;}
#goods.fanclub {background:#fff;padding:0;}
#goods .itemdetail .itemdetail-thumbnail {background:#fff;}
#goods .itemdetail .itemdetail-tab .tab-list {background:#fff;}
#goods .itemdetail .itemdetail-tab .tab-list ul li {background:#fff;}
#goods .cate-hero {padding:0;}
.purchace-history .btn-wrp {width:350px;margin:50px auto;}


/*バーガーメニュー*/
#hamnav .drawer-nav.nav_v2 .nav-inner {position: relative;width: 100%;height: 100%;border-right: 1px solid #BDBEBE;border-bottom: 1px solid #BDBEBE;display: -webkit-box;display: -ms-flexbox;display: block;flex-wrap: wrap;-webkit-box-orient: unset;-webkit-box-direction: unset;-ms-flex-direction: unset;flex-direction: unset;-webkit-box-pack: unset;-ms-flex-pack: unset;justify-content: unset;-webkit-box-align: unset;-ms-flex-align: unset;align-items: none;}
#hamnav .drawer-nav.nav_v2 .nav.sp {display:flex;}
#hamnav .drawer-nav.nav_v2 .nav.fc {color: #F19DB5;}
#hamnav .drawer-nav.nav_v2 .nav {flex-direction: unset;-webkit-box-direction: unset; -ms-flex-direction: unset;-webkit-box-orient: unset;-webkit-box-align: none;-ms-flex-align: none;align-items: normal;justify-content: left;max-width:960px;margin:0 auto;padding:50px 0;padding-left:3em;}
#hamnav .drawer-nav.nav_v2 .nav li.title {display: block;width: 100%;margin: 0 0 30px;font-size: 1.5em;}
#hamnav .drawer-nav.nav_v2 .nav li+li {width:33.33%;margin:0;display:block;font-size:.95em;}
#hamnav .drawer-nav.nav_v2 .nav a {padding:10px 0;vertical-align: top;line-height: 1.4;}
#hamnav .drawer-nav.nav_v2 .nav li.active:not(.title):after,
#hamnav .drawer-nav.nav_v2 .nav li:hover:not(.title):after{display:none;}


.filterwrp_pc {background-color: #fff;border-bottom:none !important;max-width: 1200px;margin: 0 auto;}
.filterwrp_pc .filters .filter-content.f-member {background-color: #fff;}
.filterwrp_pc .filters .filter-content.f-member li.checked label,
.filterwrp_pc .filters .filter-content.f-member li.checked span {border: 1px solid #DDD;}
.filterwrp_pc .filters .filter-content.f-category{background-color: #FAFAFA; }
.filterwrp_pc .filters .filter-content.f-category li.checked label,
.filterwrp_pc .filters .filter-content.f-category li.checked span {border: 1px solid #DDD;}
.filterwrp_pc .filters .postwrp .post-btn {width: 200px;margin: 0 auto;position: relative;border-bottom: 1px solid #F19DB5;cursor:pointer;}
.filterwrp_pc .filters .postwrp .post-btn:after{content: "";display: inline-block;position: absolute;right: 0;top: 18px;width: 14px;height: 12px;background: url(/files/14/s46/img/com-btn-arrow.svg) no-repeat 50%;background-size: contain;}
.filterwrp_pc .filters .postwrp .post-btn>*{font-size: 1.5rem;font-weight: 400;letter-spacing: 0.1em;display: inline-block;width: 200px;text-align: center;padding: 13px 0;}
.filterwrp_pc .filters .filter-content ul li label, .filterwrp_pc .filters .filter-content ul li span {box-sizing: border-box;display: inline-block;width: 90%;text-align: center;line-height: 20px;border: 1px solid transparent;cursor:pointer;}
.filterwrp_pc .filters .filter-content ul li input {display: none;}
.filterwrp_pc .filters .filter-content ul li {font-size: 12px;font-size: 1.2rem;float: left;margin: 8px 0;text-align: center;width: 16.66%;}
.filterwrp_pc .filters .postwrp {padding: 15px 0 30px;}
.filterwrp_pc .filters .filter-content ul {margin: 0 auto;max-width: 960px;overflow: hidden;padding: 10px 0;}

.filterwrp_pc > .sp {display:block;}
.filterwrp_pc .filterwrp {background:#fff;}

.filterwrp_pc .js-toggle-btn, .filterwrp_pc .filter-ttl {font-size: 1.2rem;border-bottom: none;}
.filterwrp_pc .js-toggle-btn { background-color: #EEE;cursor: pointer;}
.filterwrp_pc .js-toggle-btn, .filterwrp_pc .filter-ttl {padding: 10px 20px;display: flex;justify-content: space-between;align-items: center;}

.filterwrp_pc .filter-member-tag {padding:15px 0;}

}





